* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #112233;
    font-family: arial, helvetica, sans-serif;
    margin: 0;
}

#wrapper {
    background-color: white;
    min-height: 800px;
    margin: 0 auto;
    padding: .5em 2em 4em;
    max-width: 400px;
}

#metronomeBox {
    margin: 2em 0;
}

#metronomeBox input {
    font-size: 18px;
    margin-right: 1em;
    padding: .2em .4em;
    width: 70px;
}

#metronomeBox button {
    font-size: 18px;
    margin: 2em 1em 0 0;
}

#bpmBox {
    margin: 1em 0;
}

#soundBox {
    margin: 3em 0;
}

#soundBox .soundSelector {
    border-bottom: 3px solid transparent;
    display: inline-block;
    margin-right: 0.5em;
}

#soundBox .soundSelector.active {
    border-bottom: 3px solid red;
}

#soundBox .soundSelector p {
    margin: 0 0 .2em .4em;
}

#soundBox select {
    font-size: 16px;
    padding: 0.2em;
}

h1 {
    color: #666677;
    font-size: 40px;
    margin-top: 1.2em;
    text-align: center;
}

#beatbox h3 {
    border: 8px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    color: #888899;
    font-size: 50px;
    height: 100px;
    margin: 2em auto;
    padding-top: 11px;
    text-align: center;
    transition: border 0s;
    width: 100px;
}

#beatbox h3.accent {
    border: 8px solid;
    transition: border .2s;
}